{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu.css'%}">
    <link rel="shortcut icon" href="{% static 'Assets/icomonkey.png'%}">
    <title>CARDÁPIO</title>
</head>
<body>
    <main>
            <header class="header-container">
                <a href="index.html">
                    <img id="logo" src="{% static 'Assets/Design_sem_nome-removebg-preview.png'%}" height="150px" width="150px"
                        alt="logo" />
                </a>
    
                <div class="menu">
                    <a href="/home/">HOME</a>
                    <a href="/reservas/">RESERVA</a>
                    <a href="/delivery/">DELIVERY</a>
                    <a href="/cardapio/">CARDÁPIO</a>
                    </div>
                <a href="/delivery/"><button type="button" class="deliverybtn" id="PedirBtn"> Peça Online </button></a>
            </header>
            <section class="container">
                <img id="cardapio" src="{% static 'Assets/Cardapio_de_pizza_moderno_neon_preto_amarelo_menu_1.png'%}"/>
            </section>
    </main>
    <footer>
        <div class="Copyright">
            <h4>© Copyright 2023 - Todos os direitos reservados a Monkey Pizzaria</h4>
        </div>
    </footer>
</body>
</html>