@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5{
  font-weight: bold;
  color: white;
}

h6{
  font-weight: bold;
}
  
header,
h2 {
  font-family: 'Rock Salt';
}

.navbar-brand {
  width: 59%;
}

body {
  background-color: white;
}

.card {
  border: none;
  margin: 100px auto;
  box-shadow: 3px 3px 3px black;
}

.main_product {
  background-color: #eee;
}

.product {
  background-color: #292929;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

.brand {
  font-size: 13px;
}

.act-price {
  color: #e14232;
  font-weight: 700;
}

.dis-price {
  text-decoration: line-through;
  color: white;
  padding-left: 10px;
}

.about {
  font-size: 14px;
  color: white;
}

.frete{
  color: white;
  font-weight: bold;
  background-color: #e14232;
  width: 200px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#cep{
  border-radius: 8px;
  height:30px;
  width:100px;
  border: 1px solid white;
}

#calcular {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  height: 70px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e14232;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#calcular:hover {background-color: #e14232}

#calcular:active {
  background-color: #e14232;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#container {
  width: 100%;
  height: 330px;
}

#part1 {
  width: 100%;
  height: 280px;
  background-color: #292929;
}

#part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px;
}

#companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px;
}

#sitelink {
  font-size: 35px;
  color: #f44336;
}

#logo,
#sitelink {
  display: inline-block;
}

#sitelink:hover {
  color: #e65100;
}

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px;
}

#detail {
  color: #aaa7a7;
  font-size: 16px;
}

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: white;
  font-size: 20px;
}

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
}

.link:hover,
.link1:hover {
  color: #e65100;
}

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%;
}

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px;
}

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%;
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px;
}

#subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px;
}

#email {
  color: white;
  position: relative;
  top: -20px;
}

.btn {
  position: relative;
  top: -10px;
}

#txt5 {
  position: relative;
  top: 0px;
}

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.fa-facebook-square:hover {
  color: #3B579D;
}

.fa-linkedin:hover {
  color: #007BB6;
}

.fa-twitter-square:hover {
  color: #2CAAE1;
}

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7;
}

.material-icons {
  position: relative;
  top: 3px;
}

@media only screen and (max-width:1000px) {
  #companyinfo {
    width: 20%;
  }

  #sitelink {
    font-size: 30px;
  }

  #txt5,
  #txt4 {
    font-size: 17px;
  }

  #txt5,
  .social {
    position: relative;
    top: -5px;
  }
}

@media only screen and (max-width:850px) {
  #companyinfo {
    position: relative;
    left: 3%;
  }

  #txt6 {
    position: relative;
    left: 3%;
  }

  #txt1,
  #txt2,
  #txt3,
  #txt4,
  #txt5 {
    font-size: 15px;
  }

  #explore {
    position: relative;
    top: -240px;
    left: 26%;
  }

  #sitelink {
    font-size: 25px;
  }

  #detail {
    font-size: 13px;
  }

  .link {
    width: 60px;
  }

  #visit {
    position: relative;
    top: -520px;
    left: 37%;
  }

  .text {
    font-size: 13px;
  }

  #legal {
    position: relative;
    top: -800px;
    left: 54%;
  }

  #subscribe {
    position: relative;
    top: -1080px;
    left: 76%;
    width: 20%;
  }

  #txt5,
  .social {
    position: relative;
    left: -110%;
    top: px;
  }

  #btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    transition-duration: 0.4s;
  }

  #btn:hover {
    background-color: #292929;
    color: white;
  }

  #email,
  .btn {
    position: relative;
    top: 0px;
  }

  #part1 {
    height: 250px;
  }
}