@import url(https://fonts.googleapis.com/css?family=Prompt:300,400,500,700|PT++Mono);

body{
background-image: url('https://external-preview.redd.it/S8Kr4tgO0p_V1jeC8TyfRG2WsPx08hsbif0RZHPpObk.jpg?auto=webp&s=a3bbc3c9cccf88fa4c789a22e5c25f1e6462eaa6');
  background-size: 1200px;
  font-family: 'Prompt', Sans-serif;

}
.title{
  background-color: #242c30;
  width: 365px;
  padding: 20px;
  font-weight: 500;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 3px 3px 3px #242c30;
  text-shadow: 1px 1px 1px #707c83;
}
.card{
  background-color: white;
  width: 400px;
  font-weight: normal;
  height: 530px;
  border-radius: 20px;
  margin: 100px auto;
  box-shadow: 3px 3px 3px white;
}
.forms{
  padding-left: 35px;
  margin-right:25px;
}
#cep{
  border-radius: 10px;
  height:30px;
  border: 2px solid lightgray;
  width:85px;
}
#Number{
  border-radius: 10px;
  height:30px;
  border: 2px solid lightgray;
  width:70px;
}
#logradouro{
  border-radius: 10px;
  height:35px;
  border: 2px solid lightgray;
  width:320px;
}
#localidade{
  border-radius: 10px;
  height:30px;
  border: 2px solid lightgray;
  width:90px;
}
#bairro{
  border-radius: 10px;
  height:35px;
  border: 2px solid lightgray;
  width:320px;
}
#uf{
  border-radius: 10px;
  height:30px;
  border: 2px solid lightgray;
  width:70px;
}
#Submit{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: block;
  border: none;
  background:  #242c30;
  border-radius: 10px;
  width:170px;
  height: 60px;
  box-shadow: 3px 3px 3px gray;
  font-size: 17px;
  font-family: 'Prompt', sans-serif;
  text-shadow: 1px 1px 1px black;
}
#Submit:hover {background-color: #1f1f1f;}

#Submit:active {
  background-color: #707c83;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#bcep{
    font-size: 13px;
}